@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700|Roboto:100,300,400');
.img-fluid{
	max-width:100%;
}

#personalize{
	padding: 20px;
	padding-bottom: 150px;
	}
	
.titulo{
	font-family: 'Oswald', sans-serif;
	font-size:50px;
	text-align:center;
	color: #FFD500;
	text-transform:uppercase;
	font-weight:700;
	padding-top: 20px;
	padding-bottom: 30px;
	}
	
#personalize h3{
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	color: #5AE4D1;
	text-transform: uppercase;
	text-align: center;
	}
	
#personalize p{
	font-family:'Roboto', sans-serif;
	font-size:15px;
	font-weight:300;
	text-align: center;
	}	

select{
	margin: auto 120px;
	}	
	
.btn-light{
	background-color: #5AE4D1;
	color: #fff;
	text-align:center;
	margin-top: 60px;
	margin-left: 490px;
	}
	
.btn-light:hover{
	background-color: #fff;
	color: #5AE4D1;
	}	

#cierre{
	background-color: #5AE4D1;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:8px;
	text-align:center;
	padding: 80px;
	font-weight:100;
	}

#cierre h4{
	font-size: 15px;
}